body {
  background-color: #00F0E0;
}

header {
  text-align: center;
}

.logo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  height: 100px;
  width: 600px;
  position: relative;
  left : 710px;
}


li {
  display: inline;
  list-style: none;
}
.acceuil ,.nospiscine ,.nous {
  display: inline-block;
}

.logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;
}
input {
  display: block;
}

.texte {
  height: 100px;
}


h2 {
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
