body {
  background-color: #00F0E0;
}

header {
  text-align: center;
}
a {
  color: red;
}
.logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  height: 90%;
  width: 38%;
  position: relative;
  left : 710px;
}


li {
  display: inline;
  list-style: none;
}
.acceuil ,.nospiscine ,.nous {
  display: inline-block;
}
figure {
  display: inline-block;
}
.prix {
  display: inline-block;

  /*float: right;*/
  border-collapse: collapse;
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
}

.enterrée {
  width: 500px;

}

/*figure {
display: inline-block;
}*/

.luxuary {
position: relative;
}

.prix2 {
display: inline-block;
  border-collapse: collapse;
  border: 1px solid black;
}

.piscine {
  display: inline-block;
}

.prix3 {
  display: inline-block;
    border-collapse: collapse;
    border: 1px solid black;
  }
    footer {
      color: white;
    position:absolute;
    width:99%;
    background: #404040 ;
    border-top: 2px solid #FFFFFF;
    }
}
@media (max-width: 393px) {

  .logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

a {
  color: #B22222;
}
nav{
  height: 100%;
  width: 40%;
  position: relative;
  left : 60%;
}
.enterrée {
  width: 100%;
}
.prix, .prix2, .prix3 {
  font-size: 12px;
}
.luxuary {
  width: 100%;
}
.garteen {
  width: 100%;
}
}


@media (min-width: 394px) and (max-width: 991px) {
  body {
    background-color: #00F0E0;
  }

  header {
    text-align: center;
  }
  nav{
    height: 100px;
    width: 80%;
    position: relative;
    left : 20%;
}
a {
  color: #B22222;
}

.logo {
  width: 60%;
}
.enterrée {
  width: 40%;
}
.prix {

  font-size: 14px;
}
.luxuary {
  width: 40%;
}
.prix2 {
  font-size: 14px;
}
.garteen {
width: 40%;
}
.prix3 {
  font-size: 14px;
}
}
