
body {
  background-color: #00F0E0;
}

header {
  text-align: center;
}

.logo {
  width: 80%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  height: 100%;
  width: 40%;
  position: relative;
  left : 60%;
}

a {
  color: #B22222;
}

li {
  display: inline;
  list-style: none;
}
.acceuil ,.nospiscine ,.nous {
  display: inline-block;
}

section h2 {
  text-align: center;
}

.enterrée {
  display: inline-block;
  width: 600px;
}

.description {
  display: inline-block;
  float: right;
  left: 710px;
}

button {
display: inline-block;
}

.second {
  float: left;
}

.descriptions {
  float: left;
}

@media (max-width: 393px) {

  .logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.enterrée {display: inline-block;
  width: 65%;
}
a {
  color: #B22222;
}

.description {
  display: inline-block;
  width: auto;
}
button {
  display: block;
}

.luxe {
  display:inline-block;
  width: 65%;
}

}
@media (min-width: 394px) and (max-width: 991px) {
  body {
    background-color: #00F0E0;
  }

  header {
    text-align: center;
  }
  nav{
    height: 100px;
    width: 80%;
    position: relative;
    left : 20%;
}
.logo {
  width: 60%;
}
.enterrée {
  display: inline-block;
  width: 40%;
}
.description {
  display: inline-block;
  font-size: 1.5em;
}
.luxe {
  display: inline-block;
width: 40%;
}
.descriptions {
  display: inline-block;
  font-size: 15px;
}

}
